<div class="a">
<h1><%= @recipient.username %></h1>

  <% @conversation.messages.each_with_index do |message, i| %>
    <% if message.sender.id == @user.id %>
      <div class="speech-bubble-me"><%= @translated_messages[i] %></div><br>
    <% else %>
      <div class="speech-bubble-him"><%= @translated_messages[i] %></div><br>
    <% end %>
  <% end %>

<%= form_for @conversation do |f| %>
  <%= f.label :message %>
  <%= f.fields_for :messages, @conversation.messages.build do |message| %>
    <%= message.hidden_field :recipient_id, value: @recipient.id %><br>
    <%= message.text_area :content %><br>
    <%= message.hidden_field :sender_id, value: @user.id %>
  <% end %>
  <input type="submit" class="btn btn-info" value="Send">
<% end %>

<button><%= link_to 'Delete Conversation', @conversation, method: :delete %></button>

</div>
