<h1>Conversation</h1>

<% @translated_messages.each do |message| %>
  <%= @user.username %> to <%= @recipient.username %><br>
  <%= message %><br><br><br>
<% end %>

<%= form_for @conversation do |f| %>
  <%= f.label :message %>
  <%= f.fields_for :messages, @conversation.messages.build do |message| %><br>
    <%= message.hidden_field :recipient_id, value: @recipient.id %><br>
    <%= message.text_area :content %><br><br>
    <%= message.hidden_field :sender_id, value: @user.id %>
  <% end %>
  <%= f.submit "Send" %>
<% end %>

<p><%= link_to 'Your Conversations', welcome_path %></p>

<script language="javascript" type="text/javascript">setTimeout("location.reload();",20000);</script>
