<h3>New Chatroom</h3>

<%= render '/errors/errors' %>

<%= form_for @chatroom do |f| %>
  <%= f.label :message %>
  <%= f.fields_for :messages, @chatroom.messages.build do |message| %><br>
    <%= message.collection_select :recipient_id, @users, :id, :username %><br>
    <%= message.text_area :content %><br><br>
    <%= message.hidden_field :sender_id, value: @user.id %>
  <% end %>
  <%= f.submit "Send" %>
<% end %>

<p><%= link_to "Back to Homepage", welcome_path %></p>
